* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-de-fundo: rgb(231, 134, 7);
    --cor-secundaria: rgb(255, 255, 255);
    --cor-azul: rgb(0,0,255);
    --cor-preto: rgb(0, 0, 0);
    --cor-laranja-claro: rgb(255, 235, 205);
}

body{
    font-family: Roboto, sans-serif;
    width: 1024px;
    margin: auto;
    background-color: var(--cor-de-fundo);
}

main{
    background-color: var(--cor-secundaria);
    text-align: justify;
    /* margin: 20px; */
    padding: 20px;
    position: relative;
 }

blockquote{
    padding: 10px;
    float: left;
    width: 30%;
    background-color: rgb(206, 202, 202);
    /* border-width: 10px;
    border-style: solid;
    border-color: black; */
    border: 10px solid #7a7a7a;
    display: block;
    margin: 0 5%;
}

cite{
    display: block;
    /* margin: 15px;  Todos os lados iguais*/
    /* margin: 15px 20px; Primeiro valor serve para o TOPO e BOTTOM o segundo valor é para  ESQUERDA e DIREITA*/
    margin: 15px 5px 3px 0;
    line-height: 20px;
    text-align: right;
}

.limpaFloat{
    clear: both;
}

h2 {
    font-size: 40px;
}

figure{
    width: 19.4%;
    position: absolute;
    top: 20px;
    right: 30px;    
}

aside, figure{
    float: right;
    background-color: #7a7a7a;
    color: var(--cor-secundaria);
    border: 5px solid var(--cor-preto);
}

aside {
    width: 18%;
    margin: auto;
    position: relative;
    top:20px;
    right: 20px;
    clear: right;
    /* background-color: var(--cor-secundaria); */
}

li{
    background-color: blue;
    list-style-type: none;
    display: block;
    /* padding: 10px; */
}

li a {
    display: block;
    color: rgb(233, 221, 221);
    padding: 10px;
    text-decoration: none;
    text-transform: bold;
    text-align: center;
}

nav li a:hover{
    display: block;
    background-color: var(--cor-de-fundo);
    text-transform: bold;
    transition: .6s;
}

footer{
    height: 50px;
    line-height: 50px;
    background-color: black;
    color: blanchedalmond;
    clear: both;/*left right both*/
}

.divisaoColuna{
    float: left;
    width: 40%;
}

/* main h1{ */
/*
 # = id 
 . = class
*/
.diferenciado {
    font-family: Roboto, sans-serif;
    font-size: 60px;
    margin:0;
    text-transform: uppercase;
    /* Isto é um comentário em CSS*/
    color: rgb(0, 0, 255);
    /* color: rgb(0, 0, 255, 0.5); */
    /* color: #0000FF; hexadecimal */
}

.vermelho{
    color: red;
}

#nomeCliente{
    display: block;
    font-size: 18px;
    text-align: center;
}
